<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color:    white;
  padding: 20px 10px;
}

.header a {
   
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  position: relative;
   top: 0px;
   left: -500px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-center {
  position: relative;
  float: center;
  top: 0px;
   left: -600px;
   font-weight: 900;
}

@media screen and (max-width: 50px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
</style>

<script>
var myapp = angular.module("myApp", []);

myapp.controller("DIController", function($scope,$http, $interval){

   
 $scope.callAtTimeout = function() {
     $http.get('http://192.168.1.15:8000/list/', {
    headers: {
        "Authorization": 'Token 9b6a7cf19400a2df3eebb8dfdc5c9c942e8b50df'
    }
  }).then(function mySuccess(response) {
  console.log(response)
        $scope.myWelcome = response.data;
    }, function myError(response) {
	console.log(response)
        $scope.myWelcome = response.statusText;
    });
}
    $interval( function(){ $scope.callAtTimeout(); }, 100);
});
</script>


<body>
  <div class="header">
  <a href="#default" class="logo">
    <img class="w3-xxlarge" src="logo3.png" style="width: 10%" style="height: 20px">
  </a>
  <div class="header-center">
    <br>
    <h1><strong>PALLET TRUCK TRACKING</strong></h1>
   
  </div>
</div>


<div ng-app="myApp" ng-controller="DIController"> 




<table class="w3-table-all">
<tr>
<th>Truck</th>
<th>Status</th>
<th>Last On Time</th>
<th>Last Off Time</th>
</tr>
<tr ng-repeat="x in myWelcome">
<td>
{{x.name}}
</td>
<td>
 <div ng-switch="x.status">
  <div ng-switch-when="ON">
    <img src="car-green.png">
  </div>
  <div ng-switch-when="OFF">
     <img src="car-red.png">
   </div>
 </div>
</td>
<td>
{{x.last_on_time}}
</td>
<td>
{{x.last_off_time}}
</td>
</tr>
</table>


</div>

<p>The $http service requests a page on the server, and the response is set as the value of the "myWelcome" variable.</p>


</body>
</html>
