<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<script>
var myapp = angular.module("myApp", []);

myapp.controller("DIController", function($scope,$http, $interval){

   
 $scope.callAtTimeout = function() {
     $http.get('http://192.168.1.15:8000/list/', {
    headers: {
        "Authorization": 'Token 9b6a7cf19400a2df3eebb8dfdc5c9c942e8b50df'
    }
  }).then(function mySuccess(response) {
  console.log(response)
        $scope.myWelcome = response.data;
    }, function myError(response) {
	console.log(response)
        $scope.myWelcome = response.statusText;
    });
}
    $interval( function(){ $scope.callAtTimeout(); }, 100);
});
</script>


<body>

<div ng-app="myApp" ng-controller="DIController"> 




<table class="w3-table-all">
<tr>
<th>Truck</th>
<th>Status</th>
<th>Last On Time</th>
<th>Last Off Time</th>
</tr>
<tr ng-repeat="x in myWelcome">
<td>
{{x.name}}
</td>
<td>
{{x.status}}
</td>
<td>
{{x.last_on_time}}
</td>
<td>
{{x.last_off_time}}
</td>
</tr>
</table>


</div>

<p>The $http service requests a page on the server, and the response is set as the value of the "myWelcome" variable.</p>


</body>
</html>
