<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>
var myapp = angular.module("myapp", []);

myapp.controller("mycontroller", function($scope,$http){
	$scope.username=""
	$scope.password=""
	var data={}
	console.log("controller registered")
    $scope.submitData=function(){
	data.username=$scope.username
	data.password=$scope.password
	console.log("data is>>>"+data.username+"\t"+data.password)
	console.log("submit function is called " +$scope.username+"\t"+$scope.password);
	url ="http://192.168.1.15:8000/login/";
	headers={'Content-Type': 'application/json'};

           $http({
		   method :"post",
		   url :url,
		   data:data,
		   
}).then(function mySuccess(response) {
        $scope.myWelcome = response.data;
    }, function myError(response) {
        $scope.myWelcome = response.statusText;
    });
    }

    
});


</script>
</head>
<body ng-app="myapp" ng-controller="mycontroller">
<form method="post"  ng-submit="submitData()">
<input type="text" name="username" placeholder="Enter user name" ng-model="username"><br>
<input type="password" name="password" placeholder="Enter password" ng-model="password"><br>
<input type="submit">
</form>
{{myWelcome}}

</body>
</html>