<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>
var myapp = angular.module("myapp", []);

myapp.controller("mycontroller", function($scope,$http){
	$scope.status=""
	console.log("controller registered")
    $scope.submitData=function(){
	console.log("Status is ")
		console.log("$scope.status is>>>"+$scope.status)
	console.log("submit function is called " +$scope.status);
	url ="http://192.168.1.15:8000/update/truck101";
    
	$http({method: 'PATCH',
        url: url,
        headers: {
        'Authorization': 'Token 9b6a7cf19400a2df3eebb8dfdc5c9c942e8b50df'
        },
        data:{"status":$scope.status }
        }).
        then(function success(response) {console.log(response.data);$scope.myWelcome=response.data},function error(response) {console.log(response.data);$scope.myWelcome=response.data});   
	   
	}
	
    
});


</script>
</head>
<body ng-app="myapp" ng-controller="mycontroller">
<form method="post"  ng-submit="submitData()">
<select name="status" ng-model="status">
<option value="OFF">OFF</option>
<option value="ON">ON</option>
</select>
<input type="submit">
</form>
{{myWelcome}}

</body>
</html>